__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/
.python-version

.vscode/
.idea/
.DS_Store
Thumbs.db

.local/*
!.local/AGENTS.md
